.progress-bar-chart {
  min-width: 40mm;
  //margin-bottom: 16px;

  label {
    display: block;
    margin-bottom: 4px;
  }

  .bar {
    background: #eee;
    border-radius: 8px;

    .fill {
      height: 100%;
      border-radius: 8px;
    }
  }
}
