.chart-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  overflow-x: auto;
  position: relative;
}

.comparison-line-chart {
  display: block;
  width: 100%;
}

.x-axis-labels {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
  width: 600px;
  position: absolute;
  left: 15px;
  bottom: 10px;
}

.label {
  text-align: center;
  font-size: 10px;
  padding: 2px;
  word-break: break-word; /* allow breaking long labels */
}

.legend {
  font-family: inherit;
}
