@import "tailwindcss";

/* Brute-force override to prevent oklch color errors for html2canvas PDF export */
body {
  font-family: "Poppins", sans-serif;
}

.user-table tbody tr:last-child td {
  border-bottom: none !important;
}
